<h2><strong>Features of web app (for students):</strong></h2>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Submit requests for points to be added to your total after attending events</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Access points request page by clicking &ldquo;Point Request&rdquo; on Navbar</span><span style="font-weight: 400;"><br /><br /></span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Attend meetings via scanning QR code</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Officer will pull up (&ldquo;Show&rdquo;) meeting; student scans the QR code and should be forwarded to another page to enter their UIN.</span><span style="font-weight: 400;"><br /><br /></span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Check your points values</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Dashboard (currently redirects to meeting participation page, but in the future it will be the leaderboard)</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span></li>
</ul>
</ul>
<h2><strong>Features of web app (for officers):</strong></h2>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">View and accept or reject requests made by students</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Access points request page by clicking &ldquo;Point Request&rdquo; on Navbar</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Accepting a request will add points to student with matching UIN, and rejecting will delete the request from the system</span><span style="font-weight: 400;"><br /><br /></span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Create meetings and allow students to sign in via QR code</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Access meetings page by clicking &ldquo;Meetings&rdquo; on Navbar</span><span style="font-weight: 400;"><br /><br /></span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">View who attended a meeting</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Access meeting participations page by clicking &ldquo;Participation List&rdquo; on Navbar</span><span style="font-weight: 400;"><br /><br /></span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Add or remove officers on the Officers page</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Access Officers page by navigating to [web app link]/officers (this will be fixed in the future with a button on the Navbar instead</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Officers can do everything students can do, in addition to Officer functionality (everything in this list)</span><span style="font-weight: 400;"><br /><br /></span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Modify student information</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Access student list by navigating to [web app link]/students (this will be fixed in the future with a button on the Navbar instead</span></li>
</ul>
</ul>