<p>
  <strong>Event:</strong>
  <%= @participation.event_id %>
</p>

<p>
  <strong>UIN:</strong>
  <%= @participation.uin %>
</p>

<%= link_to 'Edit', edit_participation_path(@participation) %> |
<%= link_to 'Back', participations_path %>
