<br />
<h1 class="h1">Editing Student</h1>

<br />

<%= render 'form', student: @student %>

<br />
<%= link_to(@student) do %>
  <button type="button" class="btn btn-primary btn-sm px-3"> 
    View Student Details
  </button>
<% end %>
<br />
<br />
<%= link_to(student_path) do %>
  <button type="button" class="btn btn-primary btn-sm px-3"> 
    Back to dashboard
  </button>
<% end %>
