<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

<style>

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top:0px!important;
  padding-bottom:0px!important;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

</style>

<!-- CRUD TABLE PARTIAL -->

<div id="app">
    <v-app v-cloak>
        <v-main>
        <template>

            <div style="max-width: 500px">

            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Filter"
              single-line
              hide-details
            ></v-text-field>

            </div>
            <br >


            <v-data-table
                :headers="headers"
                :items="data"
                :items-per-page="5"
                class="elevation-1"
                :search="search"
            >
                <template v-slot:item.options="{ item }">
                    <div style="width: 150px;">
                      <a :href="`/${url_path}/${(item.id) ? item.id : item.UIN}`">
                          <button type="button" class="btn btn-primary btn-sm px-3">
                          View
                          </button>
                      </a>
                      &nbsp;
                      <a :href="`/${url_path}/${(item.id) ? item.id : item.UIN}/edit`">
                          <button type="button" class="btn btn-info btn-sm px-3">
                              <i class="fas fa-edit"></i>
                          </button>
                      </a>
                      &nbsp;
                      <a data-confirm="Are you sure want to delete?" rel="nofollow" data-method="delete" :href="`/${url_path}/${(item.id) ? item.id : item.UIN}`">
                          <button type="button" class="btn btn-danger btn-sm px-3"> 
                              <i class="fas fa-times"></i>
                          </button>
                      </a>
                    </div>
                </template>

                <template v-slot:item.approvals="{ item }">
                  <div style="width: 150px;">
                    <a :href="`/${url_path}/${(item.id) ? item.id : item.UIN}/edit`">
                        <button type="button" class="btn btn-info btn-sm px-3">
                            <i class="fas fa-edit"></i>
                        </button>
                    </a>
                    &nbsp;
                    <a data-confirm="Are you sure want to approve?" rel="nofollow" data-method="accept" :href="`/${url_path}/${(item.id) ? item.id : item.UIN}/accept`">
                        <button type="button" class="btn btn-success btn-sm px-3"> 
                            <i class="fas fa-check"></i>
                        </button>
                    </a>
                    &nbsp;
                    <a data-confirm="Are you sure want to delete?" rel="nofollow" data-method="delete" :href="`/${url_path}/${(item.id) ? item.id : item.UIN}`">
                        <button type="button" class="btn btn-danger btn-sm px-3"> 
                            <i class="fas fa-times"></i>
                        </button>
                    </a>
                  </div>
                </template>

                <template v-slot:item.deleteonly="{ item }">
                  <div style="width: 150px;">
                    <a data-confirm="Are you sure want to delete?" rel="nofollow" data-method="delete" :href="`/${url_path}/${(item.id) ? item.id : item.UIN}`">
                        <button type="button" class="btn btn-danger btn-sm px-3"> 
                            <i class="fas fa-times"></i>
                        </button>
                    </a>
                  </div>
                </template>

            </v-data-table>
        </template>
        </v-main>
    </v-app>
</div>





<script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data () {
      return {
          search: '',
          headers: headers,
          data: d,
          url_path: url_path
        }
      }
    })
</script>