<style>
.active {
}
</style>

<!-- Navbar -->
<div class="container-nav-wrapper" style="background-color: #262626!important;">
<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="a-Dashboard" class="nav-link" href="/students">Leaderboards</a>
        </li>
        <li class="nav-item">
            <a id="a-Participation_List"class="nav-link" href="/meeting_participations">Participation List</a>
          </li>
        <li class="nav-item">
            <a id="a-Meetings" class="nav-link" href="/meetings">Meetings</a>
        </li>
        <li class="nav-item">
            <a id="a-Event_List" class="nav-link" href="/other_events">Event List</a>
        </li>
        <li class="nav-item">
          <a id="a-Point_Request" class="nav-link" href="/requests">Point Request</a>
        </li>
                
      </ul>
      <!-- Left links -->


    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <% if current_admin && page != "invalid_credentials" %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="a-Help" class="nav-link" href="/help/about.html">Help</a>
        </li>
        <li class="nav-item">
          <a id="a-Officers" class="nav-link" href="/officers">Officers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admins/sign_out">Sign out</a>
        </li>
      </ul>
      <% else %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <span class="nav-link">
          <%= link_to "Login", admin_google_oauth2_omniauth_authorize_path, method: :post %>
          </span>
        </li>
      </ul>
      <% end %>
    </div>

    </div>
    <!-- Collapsible wrapper -->


    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
</div>
</div>

<style>

.flash__alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.flash__notice {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash__warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.flash__success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert {
  border-radius: 0px;
  margin: 2px 0px;
}

</style>
<% if flash.any? %>
    <% flash.each do |key, value| -%>
    <section class="alert flash flash__<%= key %>"><%= value.html_safe %></section>
    <% end -%>
<% end %>

<br />

<script>
// Adding active highlight
// active
$( document ).ready(function() {
  if (window.location.href.toLowerCase().endsWith("about.html")) {
    $( "#a-Help" ).addClass( "active" );
  }
  if (window.location.href.toLowerCase().endsWith("meeting_participations")) {
    $( "#a-Participation_List" ).addClass( "active" );
  }
  if (window.location.href.toLowerCase().endsWith("meetings")) {
    $( "#a-Meetings" ).addClass( "active" );
  }
  if (window.location.href.toLowerCase().endsWith("other_events")) {
    $( "#a-Event_List" ).addClass( "active" );
  }
  if (window.location.href.toLowerCase().endsWith("requests")) {
    $( "#a-Point_Request" ).addClass( "active" );
  }
  if(window.location.pathname == "/students") {
    $( "#a-Dashboard" ).addClass( "active" );
  }
  if(window.location.pathname == "/officers") {
    $( "#a-Officers" ).addClass( "active" );
  }
});

</script>
