<br />
<h1 class="h1">Editing Request</h1>

<br />


<%= render 'form', request: @request %>

<br />
<br />
<%= link_to(requests_path) do %>
  <button type="button" class="btn btn-primary btn-sm px-3"> 
    Back to all requests
  </button>
<% end %>
