
<!-- BEFORE: <h1>Requests</h1> -->
<p class="h1">View Requests</p>
<br />


<script>
  var headers = [
    {
      text: 'UIN',
      align: 'start',
      value: 'UIN',
    },
    {
      text: 'Event ID',
      value: 'event_id',
    },
    
    {
      text: 'Date of Request',
      value: 'date_of_request',
    },
    {
      text: 'Points Requested',
      value: 'points_requested',
    },
    {
      text: 'Request Type',
      value: 'request_type',
    },
    {
      text: 'Approvals',
      value: "approvals",
    },
  ];

  var d = <%=@requests.to_json.html_safe%>
  var url_path = "requests"
</script>

<%= render partial: "partials/crud_table" %>

<br />
<%= link_to(new_request_path) do %>
  <button type="button" class="btn btn-primary btn-sm px-3"> 
    Create new request
  </button>
<% end %>