<style type="text/css">
    #title {display:inline-block;margin-right:10px;} 
    #signout {display:inline-block;float:right;} 
</style>
<%= render partial: "partials/navbar", locals: {loggedIn: true, page:"request_list"} %>

<h1>Requests#update</h1>
<p>Find me in app/views/requests/update.html.erb</p>
