
<h1>Meeting Participations</h1>

<br />
<script>
  var headers = [
    {
      text: 'UIN',
      align: 'start',
      value: 'UIN',
    },
    {
      text: 'Meeting',
      value: 'meeting_name',
    },
    {
      text: 'Options',
      value: "options",
    }
  ];

  var d = <%=@meeting_participations.to_json.html_safe%>
  var url_path = "meeting_participations"
</script>

<%= render partial: "partials/crud_table" %>

<br>

<%= link_to 'New Meeting Participation', new_meeting_participation_path %>